
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Sayfasi</h3>
</div>
<form method="post" class="form-group">
    <br />
    @Html.Label("Yetenek Basligi")
    <input class="form-control" type="text" name="Title" />
    <br />
    <label>Yetenek Orani</label>
    <input class="form-control" type="text" name="Value" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form> 
